{
    "extends": [
        "@trejgun/eslint-config/presets/ts"
    ],
    "parserOptions": {
        "project": "./tsconfig.test.json"
    },
    "root": true,
    "rules": {
        "no-console": 0,
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "test/**/*.{ts,tsx}",
                    "rollup.config.js",
                    "webpack.config.js"
                ]
            }
        ]
    }
}
